.player-info {
  align-items: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative; /* This ensures the PlayerInfo doesn't obstruct the display card style */
  z-index: 1; /* Ensure PlayerInfo content appears above the display card style */
}

.name-position-number{
  display: flex;
  flex-direction: column;
  margin: 0;
}
