.player-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player-card {
  cursor: pointer;
  perspective: 1000px; /* Enables 3D effect */
  width: 345px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  transform: rotateY(0);
}

.player-card.flipped {
  transform: rotateY(180deg);
}

.player-card-front, .player-card-back {
  position: absolute;
  width: 100%; /* Matches the parent size */
  height: 100%; /* Matches the parent size */
  backface-visibility: hidden; /* Hides the face not being shown */
  display: flex; /* Ensures any content respects flex layout */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
}

.player-card-back {
  transform: rotateY(180deg); /* Rotate the back face */
}
